
:root {
    --main-color: #de3421;
    --secondary-color: #fff;
    --background-color: #fff;
    --text-color: #2a383b;
    --descend-color: #A40000;
    --secondary-text-color: #949b9d;
    /* evidence colors */
    --ok-color: #4bb543;
    --ng-color: #de3421;
    --unknown-color: #707070;

    --font-weight-semibold: 600;

    --transition-cubic: 280ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

