
.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.inner-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 1em;
}
