
.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

.inner-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
}
