
.row {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-column-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}


.row p {
    margin: 0;
}
