

.link {
    color: #000;
    text-decoration: underline;
    margin: 0 4px;
}
.link:hover{
    text-decoration: underline;
}

.nav-link {
    border-right: 1px solid #aaa;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 45px;
}
