
.msg {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    max-width: 75%;
}

.friend {
    background-color: #d0d0d0;
    color: black;
    justify-self: start;
}

.me {
    background-color: rgba(0, 0, 255, .75);
    color: white;
    justify-self: end;
}

.msg h2 {
    font-size: 20px;
    font-weight: 400;
}
